.reviews {
  color: #fff;
  margin-top: 6rem;
  &__images {
    display: flex;
    margin-bottom: 1.5rem;
  }

  &__review {
    background-color: $color__brand;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: 2px solid #fff;

    span {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  &__review {
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;

    &:not(:first-child) {
      margin-left: -2.2rem;
    }
  }

  &__text {
    display: flex;
    gap: 1rem;
  }

  &__reviews-number {
    color: inherit;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  &__stars {
    line-height: 1;
    display: flex;
    gap: 0.4rem;

    svg {
      fill: #ffc01e;
      stroke: none;
    }
  }
}
