.section-intro {
  margin-bottom: 9rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //color: $color__text-heading;

  &--light {
    color: $color__white;
  }

  &__title {
    position: relative;
    color: inherit;
    line-height: 1;

    &--dark {
      color: $color__text-heading;
    }

    &:after {
      content: '';
      width: 65px;
      height: 3px;
      border-radius: 8px;
      position: absolute;
      bottom: 3.4rem;
      left: 0;
      background-color: $color__brand;
      display: block;
    }
  }

  &__description {
    /* Typography - SemiLight/H6 - SemiLight */
    font-weight: 300;
    font-size: 18px;
    line-height: 175%;
    color: inherit;
  }
}
