.happy-customers {
  padding: 12rem 0;
  position: relative;
  margin-bottom: 1px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  z-index: 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    background-color: #000000;
    z-index: 1;
  }

  &__inner,
  &__testimonials {
    z-index: 2;
  }

  &__testimonial {
    background-color: #fff;
    color: inherit;
    display: flex;
    padding: 3.2rem;
    gap: 3rem;
    border-radius: 8px;
    max-width: 54rem;
    position: relative;
  }

  &__avatar {
    height: 8rem;
    width: 8rem;
  }

  &__quote {
    position: absolute;
    top: 1.5rem;
    font-size: 12rem;
    font-weight: 900;
    line-height: 1;
    text-align: left;
    color: #eee;
  }

  &__testimonial-text {
    padding-top: 6rem;
  }
}

#happy-customers {
  .splide {
    &__pagination {
      padding: 6rem 0;
      .is-active {
        background-color: $color__brand;
      }

      &__page {
        padding: 0;
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        border: none;
        margin: 0 0.3rem;
        background-color: #919191;
      }
    }
  }
}
