@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://use.typekit.net/fbx8het.css');

body,
button,
input,
select,
optgroup,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  color: $color__text-main;
  font-family: $font__main;
  font-size: 16px;
  line-height: $font__line-height-body;
  font-weight: 300;
}

@import 'headings';
@import 'copy';
