$color__background-body: #ffffff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #e52323; //royalblue
$color__link-visited: #e52323; //purple
$color__link-hover: #fa4747; //midnightblue
$color__text-main: #616161;
$color__text-heading: #101010;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__brand: #e52323;

$color__white: #fff;
$color__lightGrey: #f6f6f6;
$color__bgDark: rgb(18, 20, 22);
